.about {
    position: relative;
    padding-bottom: 107px;

    .texts {
        max-width: 895px;

        .long-text {
            white-space: pre-line;
            padding: 40px 0;
            // display: inline;
        }
    }
}