h1 {
    font-size: 98px;
    font-weight: 600;
    margin: 0;
}

h2 {
    font-size: 77px;
    font-weight: 700;
    margin: 0;
}

h3 {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}

h4 {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

h5 {
    font-size: 19px;
    font-weight: 300;
    margin: 0;
}

h6 {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 63px;
        line-height: 83px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 14px;
    }

    h5 {
        font-size: 13px;
    }

    h6 {
        font-size: 12px;
    }
}