@import url('./style/layout.scss');
@import url('./style/typography.scss');
@import url('./style/animations.scss');
@import url('./style/reusable.scss');

:root {
  --background-color: rgba(16, 17, 17, 1);
  --white-color: white;
  --first-gradient: linear-gradient(90deg, #7A87FB 0%, #FFD49C 100%);
  --second-gradient: linear-gradient(269.57deg, #7A87FB 0.72%, #FFD49C 99.22%);
  --max-width: 1440px;
  --padding-left: 120px;
  --header-height: 100px;

  font-family: "Poppins", sans-serif;

  color-scheme: light dark;
  color: var(--white-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: 800px) {
    --padding-left: 0;
  }
}

.manrope {
  font-family: "Manrope", sans-serif;
}

.assistant {
  font-family: "Assistant", sans-serif;
}

img {
  transition: filter 1s ease;
}

body {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 18px;
}